@charset "UTF-8";
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    opacity: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #434848;
    color: #fff;
    animation: appear 100ms ease 300ms forwards;
    -webkit-animation: appear 100ms ease 300ms forwards;
}
@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.time{
    font-size: 25vw;
    position: relative;
    transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
}
.second{
    position: absolute;
    right: 0;
    bottom: 2vw;
    width: 150px;
    font-size: 0.5em;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
}
.buttuns{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 100px;
    opacity: 1;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    z-index: 10;
}
.buttun-img{
    width: 40px;
    height:auto;
}
.setting img{
    filter: contrast(300%) invert(100%);
}
.off{
    pointer-events: none;
    opacity: 0;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
.none{
    display: none;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.justify-evenly{
    display: flex;
    justify-content: space-evenly;
}
.justify-center{
    display: flex;
    justify-content: center;
}
.align-center{
    display: flex;
    align-items: center;
}
.align-end{
    display: flex;
    align-items: flex-end;
}
